.body {
	background-color: orange;
	margin: 0px;
	padding: 0px;
}

.burger-img{
    text-align: center;
	width: 250px;
	height: 50px;
}

.title{
    text-align: center;
}

.add-burger{
    text-align: center;
}

.burger-form{
    text-align: center;
}